.ListOfPoints{
	padding: 0;
	float: left;
	list-style-type: none;
	height: 400px;
	width: 100px;
	margin-top: 3px;
	box-sizing: border-box;
}

.ListOfPoints__width_full{
	width: 100% !important;
}


.ListOfPoints__Text{
	position: absolute;
	left: 0;
	max-width: 85%;
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
}