.MyInput{
	width: 100px;
	height: 21px;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.MyInput__Button{
	position: absolute;
	right: 0;
	display: inline;
	padding: 0;
	height: 21px;
	background-color: black; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
}

.MyInput__Input{
	position: absolute;
	left: 0;
	border: none;
	width: 70%;
	box-sizing: border-box;
}

.MyInput__width_full{
	width: 100% !important;
}
