.Add{
	width: 300px;
	background: #eee;
	padding: 5px;
	height: 40px;
}

.Add__Input{
	height: 100%;
	width: 230px;
	border: none;
	padding: 5px;
}

.Add__Button{
	font-size: 15px;
	height: 100%;
	width: 50px;
	background: #fff;
	border: none;
	float: right;
	color: #439fc2;
	font-weight: 700;
}