.ListOfPoints__Point{
	height: 100%; 
}

.ListOfPoints__ButtonDelete{
	position: absolute;
	right: 0;
	margin: 1px;
	padding: 0;
	display: inline;
	height: 16px;
	width: 16px;
	background-color: black; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
}
