.MyMap{
	text-align: left;
	overflow: hidden;
	height: 800px;
	width: 70%;
	border: 2px solid black;
	display: block;
	box-sizing: border-box;
}

.MyMap__ListOfPoints{
	left: 0;
	top: 0;
	position: absolute;
	margin: 3px;
	width: 25%;
	box-sizing: border-box;

}

.MyMap__YMaps{
	position: absolute;
	margin: 3px;
	right: 0;
	top: 0;
	box-sizing: border-box;
	width: 71%;
	height: 790px;
	border: 2px solid black;
	overflow: hidden;
}